* {
  margin: 0 auto;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#oyun {
  background-image: linear-gradient(#ffa17f, #00223e);
  height: 66.1vh;
  padding-top: 250px;
}

#oyun h1 {
  font-size: 50px;
    font-weight: 200;
    font-family: poppins;
  text-align: center;
  color: white;
}

.Buttonlar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  gap: 20px; 
}

.evetBtn, .hayirBtn {
  width: 150px;
  height: 70px;
  border-radius: 50px;
  font-size: 39px;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.evetBtn:hover, .hayirBtn:hover {
  background-color: black;
  color: white;
}

#gameBasladi {
  display: none;
  background-image: linear-gradient(#dbe6f6, #c5796d);
  height: 100vh;
}

#skorTablosu {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
}

.hands img {
  width: 300px;
  height: 300px;
}

.robot {
  transform: scaleX(-1);
}

.button_game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.button_game button {
  width: 140px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.4s;
  font-size: 35px;
  text-align: center;

}

.button_game button:hover {
  background-color: black;
  color: white;
}



/* Responsiv */




@media (max-width: 768px) {



  #oyun {
    padding-top: 150px;
    height: 100vh;
  }

  #oyun h1 {
    font-size: 36px;
    font-weight: 200;
    font-family: poppins;
  }

  .Buttonlar {
    padding-top: 100px;
    gap: 10px;
  }

  .evetBtn, .hayirBtn {
    width: 120px;
    height: 60px;
    font-size: 30px;
    font-family: poppins;

  }

  #skorTablosu {
    font-size: 20px;
    flex-direction: flex;
    gap: 20px;
    padding-top: 30px;
  }

  .hands {
    
    flex-direction: flex;
    gap: 20px;
  }

  .hands img {
    width: 150px;
    height: 100px;
  }

  .button_game {
    flex-direction: flex;
    padding: 50px 0px ;
  
  }

  .button_game button {
    width: 70px;
    height: 40px;
    font-size: 15px;
  }



}


